# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Виртуальные окружения
venv/
ENV/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Тесты
.pytest_cache/
.coverage
htmlcov/
.tox/

# Операционная система
.DS_Store
Thumbs.db
